*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #1D1D1D;
    color: black;  
    font-family: 'Roboto'; 
    overflow-x: hidden;
}

@media only screen and (max-width: 425px){
  #navbar{
    display: none;
  } 
  body{
    background-color: #999696;
    overflow-x: hidden;
    font-family: 'Forum'; 
  }
  h1,
  h2{
    display: flex;
    justify-content: center;
    position: relative;
    left: 45px;
  }
  .blog-pic{
    width: 75%;
   position: relative;
   left: 75px;
  }
  h3{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
  #para1,
  #para2,
  #para3,
  #para4,
  #para5,
  #para6,
  #para7,
  #para8{
        padding: 10px 20px 10px 20px;
        position: relative;
        left: 30px;
    }
    a{
        text-decoration: none;
        color: black;
        position: relative;
        left: 50px;
    }
    a.back:hover{
        color: #21EFEF;
    }
    #postbtn{
        width: 25%;
        font-family: Forum;
        font-size: 18px;
        position: relative;
        left: 150px;
        border: 0px;
        border-radius: 5px;
    }
    .back{
        color: black;
        text-decoration: none;
        position: relative;
        left: 50px;
        font-size: 20px;
    }
    .back:hover{
        color:#21EFEF;
    }
}
@media only screen and (min-width: 426px) and (max-width: 768px){
    .logo{
        width:70px;
    }
    #home{
        background-color: black;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        width: 15%;
        position: fixed;
        height: 1500px;
        background-color: #181818;
        color: #999696;
    }
    #navbar p{
        font-size: 15px;
        padding: 10px 0px 20px 10px;
    }
    #navbar a{
        text-decoration: none;
        color: #999696;
        padding-left: 20px;
    }
    
    a.section1{
        padding: 20px 20px 10px 10px;
        position: relative;
        left: 15px;
    }
    a.section2,
    a.section3,
    a.section4,
    a.section5,
    a.section6,
    a.section7,
    a.section8{
        padding-bottom: 10px;
        position: relative;
        left: 15px;
    }
    h1,
    h2{
        display: flex;
        justify-content: center;
    }
    #para1,
    #para2,
    #para3,
    #para4,
    #para5,
    #para6,
    #para7,
    #para8{
        padding: 0px 20px 20px 20px;
    }
    .blog-container{
        background-color: #999696;
        width: 88%;
        position: relative;
        left: 150px;
        top: 30px;
        font-family: Forum;
    }
    .blog-pic{
        width: 400px;
        height: 200px;
        position: relative;
        left: 140px;
    }
    .blog-container h3,
    .blog-container p{
        padding: 10px 20px 0px 20px;
    }
    .blog-container h3{
       display: flex;
       justify-content: center;
    }
    #postbtn{
        width: 25%;
        font-family: Forum;
        font-size: 18px;
        position: relative;
        left: 300px;
        border: 0px;
        border-radius: 5px;
    }
    .back{
        color: black;
        text-decoration: none;
        position: relative;
        left: 40px;
        font-size: 20px;
    }
    .back:hover{
        color:#21EFEF;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1280px){
    .logo{
        width:100px;
    }
    #home{
        background-color: black;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        width: 15%;
        position: fixed;
        height: 1500px;
        background-color: #181818;
        color: #999696;
    }
    #navbar p{
        font-size: 15px;
        padding: 10px 0px 20px 20px;
    }
    #navbar a{
        text-decoration: none;
        color: #999696;
        padding-left: 20px;
    }
    
    a.section1{
        padding: 20px 20px 10px 10px;
        position: relative;
        left: 15px;
    }
    a.section2,
    a.section3,
    a.section4,
    a.section5,
    a.section6,
    a.section7,
    a.section8{
        padding-bottom: 10px;
        position: relative;
        left: 15px;
    }
    h1,
    h2{
        display: flex;
        justify-content: center;
    }
    #para1,
    #para2,
    #para3,
    #para4,
    #para5,
    #para6,
    #para7,
    #para8{
        padding: 0px 20px 20px 20px;
    }
    .blog-container{
        background-color: #999696;
        width: 80%;
        position: relative;
        left: 170px;
        top: 30px;
        font-family: Forum;
    }
    .blog-pic{
        width: 400px;
        height: 200px;
        position: relative;
        left: 200px;
    }
    .blog-container h3,
    .blog-container p{
        padding: 10px 20px 0px 20px;
    }
    .blog-container h3{
       display: flex;
       justify-content: center;
    }
    #postbtn{
        width: 25%;
        font-family: Forum;
        font-size: 18px;
        position: relative;
        left: 300px;
        border: 0px;
        border-radius: 5px;
    }
    .back{
        color: black;
        text-decoration: none;
        position: relative;
        left: 40px;
        font-size: 20px;
    }
    .back:hover{
        color:#21EFEF;
    }
}
@media only screen and (min-width: 1440px){
    .logo{
        width:100px;
    }
    #home{
        background-color: black;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        width: 10%;
        position: fixed;
        height: 1000px;
        background-color: #181818;
        color: #999696;
    }
    #navbar p{
        font-size: 15px;
        padding: 10px 0px 20px 20px;
    }
    #navbar a{
        text-decoration: none;
        color: #999696;
        padding-left: 20px;
    }
    
    a.section1{
        padding: 20px 20px 10px 10px;
        position: relative;
        left: 15px;
    }
    a.section2,
    a.section3,
    a.section4,
    a.section5,
    a.section6,
    a.section7,
    a.section8{
        padding-bottom: 10px;
        position: relative;
        left: 15px;
    }
    h1,
    h2{
        display: flex;
        justify-content: center;
    }
    #para1,
    #para2,
    #para3,
    #para4,
    #para5,
    #para6,
    #para7,
    #para8{
        padding: 0px 20px 20px 20px;
    }
    .blog-container{
        background-color: #999696;
        width: 88%;
        position: relative;
        left: 160px;
        top: 30px;
        font-family: Forum;
    }
    .blog-pic{
        width: 400px;
        height: 200px;
        position: relative;
        left: 430px;
    }
    .blog-container h3,
    .blog-container p{
        padding: 10px 20px 0px 20px;
    }
    .blog-container h3{
       display: flex;
       justify-content: center;
    }
    #postbtn{
        width: 20%;
        font-family: Forum;
        font-size: 18px;
        position: relative;
        left: 500px;
        border: 0px;
        border-radius: 5px;
    }
    .back{
        color: black;
        text-decoration: none;
        position: relative;
        left: 40px;
        font-size: 20px;
    }
    .back:hover{
        color:#21EFEF;
    }
}