*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #1D1D1D;
    color: black;  
    font-family: 'Roboto'; 
    overflow-x: hidden;
}

@media only screen and (max-width: 425px){
    body{
        background-color: #999696;
        font-family: 'Forum'; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }
    .dropdown-nav{
        width: 50px;
        background-color: #21EFEF;
        position: fixed;
        left: 330px;
        z-index: 10;
    }
    .logo{
        width: 150px;
        position: relative;
        left: 120px;
    }
    #home{
        width: 100%;
        position: relative;
        background-color: black;
    }
    #navbar p{
        font-size: 30px;
        position: relative;
        left: 100px;
        padding-bottom: 10px;
    }
    #navbar{
        background-color: #181818;
        width: 100%;
        color:#999696;
        display: none;
        position: fixed;
        z-index: 10;
    }
    .dropdown{
        display: none;
    }
    .dropdown:checked ~ #navbar{
        display: block;
    }
    a.section1,
    a.section2,
    a.section3,
    a.section4,
    a.section5,
    a.section6,
    a.section7,
    a.section8{
        display: flex;
        justify-content: center;
        font-size: 30px;
        position: relative;
        text-decoration: none;
        color:#999696;
    }
    h1,
    h2{
        display: flex;
        justify-content: center;
        position: relative;
    }
    .blog-pic{
        width: 75%;
        position: relative;
        left: 60px;
    }
    h3{
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        font-size: 35px;
    }
    #para1,
    #para2,
    #para3,
    #para4,
    #para5,
    #para6,
    #para7,
    #para8{
        padding: 10px 20px 10px 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 25px;
    }
    .back{
        text-decoration: none;
        color: black;
        position: relative;
        left: 50px;
        font-size: 25px;
    }
    a.back:hover{
        color: #21EFEF;
    }
    .like{
        width: 30px;
        height: 30px;
        position: relative;
        left: 50px;
        top: 10px;
    }
    .comments-form{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    #name{
        width: 90%;
        height: 40px;
        font-family: Forum;
        font-size: 25px;
        position: relative;
        border: 0px;
        border-radius: 5px;
        margin-bottom: 1px;
    }
    #comment{
        width: 90%;
        height: 60px;
        font-family: Forum;
        font-size: 25px;
        position: relative;
        border: 0px;
        border-radius: 5px;
        margin-bottom: 1px;
    }
    #commentbtn{
        width: 45%;
        font-family: Forum;
        font-size: 25px;
        position: relative;
        border: 0px;
        border-radius: 5px;
    }
    .comments-list{
        background-color: whitesmoke;
        width: 90%;
        height: auto;
        padding: 10px;
        position: relative;
        left: 10px;
        border-radius: 5px;
        border: 0px;
        font-size: 25px;
    }
    .c-title{
        position: relative;
        padding: 0px 0px 10px 10px;
        font-size: 25px;
    }
    .comment,
    .name{
        padding-left: 5px;
    }
    .comment{
        padding-bottom: 5px;
    }
}
@media only screen and (min-width: 426px) and (max-width: 540px){
    body{
        font-family: 'Forum'; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }
    .dropdown-nav{
        width: 50px;
        background-color: #21EFEF;
        position: fixed;
        left: 490px;
        z-index: 10;
    }
    .logo{
        width: 150px;
        position: relative;
        left: 220px;
    }
    #home{
        width: 106%;
        background-color: black;
    }
    #navbar p{
        font-size: 30px;
        position: relative;
        left: 200px;
        padding-bottom: 10px;
    }
    #navbar{
        background-color: #1D1D1D;
        width: 105%;
        color:#999696;
        display: none;
        position: fixed;
        z-index: 10;
    }
    .dropdown{
        display: none;
    }
    .dropdown:checked ~ #navbar{
        display: block;
    }
    a.section1,
    a.section2,
    a.section3,
    a.section4,
    a.section5,
    a.section6,
    a.section7,
    a.section8{
        display: flex;
        justify-content: center;
        font-size: 30px;
        position: relative;
        text-decoration: none;
        color:#999696;
    }
    h1,
    h2{
        display: flex;
        justify-content: center;
        font-size: 40px;
    }
    #para1,
    #para2,
    #para3,
    #para4,
    #para5,
    #para6,
    #para7,
    #para8{
        font-size: 30px;
    }
    .blog-container{
        background-color: #999696;
        width: 100%;
        position: relative;
        left: 5px;
        font-family: Forum;
        border-radius: 5px;
    }
    .blog-pic{
        width: 400px;
        height: 200px;
        position: relative;
        left: 70px;
    }
    .comments-likes{
        width: 100%;
        background-color: #1D1D1D;
        position: relative;
        top: 20px;
        padding: 10px 0px 10px 0px;
    }
    a.back{
        color: white;
        text-decoration: none;
        position: relative;
        left: 10px;
        bottom: 20px;
        font-size: 30px;
        font-family: Forum;
    }
    a.back:hover{
        color: #21EFEF;
    }
    .blog-container h3,
    .blog-container p{
        padding: 10px 20px 0px 20px;
    }
    .blog-container h3{
       display: flex;
       justify-content: center;
    }
    .like{
        width: 40px;
        height: 40px;
        position: relative;
        left: 20px;
        bottom: 5px;
    }
    #name,
    #comment{
        position: relative;
        left: 50px;
    }
    #name{
        width: 50%;
        height: 30px;
        padding: 5px 0px 5px 10px;
        font-family: Forum;
        font-size: 18px;
        position: relative;
        border: 0px;
        border-radius: 10px;
        margin: 10px 5px 5px 5px;
    
    }
    #comment{
        width: 50%;
        border: 0px;
        font-size: 20px;
        padding: 5px 0px 5px 10px;
        height: 40px;
        font-family: Forum;
        position: relative;
        border-radius: 7px;
        margin: 5px;
    }
    #commentbtn{
        width: 25%;
        font-family: Forum;
        font-size: 18px;
        position: relative;
        bottom: 15px;
        left: 50px;
        border: 0px;
        border-radius: 5px;
        padding: 5px;
        margin: 5px 5px 40px 5px;
    }
    .comments-list{
        background-color: #999696;
        width: 100%;
        height: auto;
        position: relative;
        bottom: 20px;
        border-radius: 10px;
        border: 0px;
    }
    .comments-likes p{
        color: white;
        position: relative;
        bottom: 30px;
        left: 10px;
        font-family: Forum;
        font-size: 30px;   
    }
    .comments-list p{
        color: black;
        position: relative;
        top: 2px;
    }
    .comment{
        padding:0px 0px 10px 0px;
    }
}
@media only screen and (min-width: 541px) and (max-width: 768px){
    body{
        font-family: 'Forum'; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }
    .dropdown-nav{
        width: 50px;
        background-color: #21EFEF;
        position: fixed;
        left: 740px;
        z-index: 10;
    }
    .logo{
        width: 150px;
        position: relative;
        left: 340px;
    }
    #home{
        width: 100%;
        background-color: black;
    }
    #navbar p{
        font-size: 30px;
        position: relative;
        left: 320px;
        padding-bottom: 10px;
    }
    #navbar{
        background-color: #1D1D1D;
        width: 105%;
        color:#999696;
        display: none;
        position: fixed;
        z-index: 10;
    }
    .dropdown{
        display: none;
    }
    .dropdown:checked ~ #navbar{
        display: block;
    }
    a.section1,
    a.section2,
    a.section3,
    a.section4,
    a.section5,
    a.section6,
    a.section7,
    a.section8{
        display: flex;
        justify-content: center;
        font-size: 30px;
        position: relative;
        text-decoration: none;
        color:#999696;
    }
    h1,
    h2{
        display: flex;
        justify-content: center;
        font-size: 40px;
    }
    #para1,
    #para2,
    #para3,
    #para4,
    #para5,
    #para6,
    #para7,
    #para8{
        font-size: 30px;
    }
    .blog-container{
        background-color: #999696;
        width: 100%;
        position: relative;
        left: 23px;
        font-family: Forum;
        border-radius: 5px;
    }
    .blog-pic{
        width: 400px;
        height: 200px;
        position: relative;
        left: 165px;
    }
    .comments-likes{
        width: 100%;
        background-color: #1D1D1D;
        position: relative;
        left: 15px;
        top: 20px;
        padding: 10px 0px 10px 0px;
    }
    a.back{
        color: white;
        text-decoration: none;
        position: relative;
        left: 10px;
        font-size: 30px;
        font-family: Forum;
    }
    a.back:hover{
        color: #21EFEF;
    }
    .blog-container h3,
    .blog-container p{
        padding: 10px 20px 0px 20px;
    }
    .blog-container h3{
       display: flex;
       justify-content: center;
    }
    .like{
        width: 40px;
        height: 40px;
        position: relative;
        left: 140px;
    }
    #name{
        width: 20%;
        height: 30px;
        padding-left: 5px;
        font-family: Forum;
        font-size: 18px;
        position: relative;
        left: 330px;
        bottom: 55px;
        border: 0px;
        border-radius: 10px;
    
    }
    #comment{
        width: 25%;
        border: 0px;
        font-size: 20px;
        padding: 5px 0px 5px 10px;
        height: 40px;
        font-family: Forum;
        position: relative;
        bottom: 46px;
        left: 330px;
        border-radius: 7px;
    }
    #commentbtn{
        width: 5%;
        font-family: Forum;
        font-size: 18px;
        position: relative;
        bottom: 51px;
        left: 330px;
        border: 0px;
        border-radius: 5px;
    }
    .comments-list{
        background-color: #999696;
        width: 100%;
        height: auto;
        position: relative;
        bottom: 20px;
        border-radius: 10px;
        border: 0px;
    }
    .comments-likes p{
        color: white;
        position: relative;
        bottom: 30px;
        left: 10px;
        font-family: Forum;
        font-size: 30px;   
    }
    .comments-list p{
        color: black;
        position: relative;
        top: 2px;
    }
    .comment{
        padding:0px 0px 10px 0px;
    }
    .comments-form{
        position: relative;
        left: 30px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1280px){
    body{
        font-family: 'Forum'; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }
    .dropdown-nav{
        width: 50px;
        background-color: #21EFEF;
        position: fixed;
        left: 790px;
        z-index: 10;
    }
    .logo{
        width: 150px;
        position: relative;
        left: 340px;
    }
    #home{
        width: 100%;
        background-color: black;
    }
    #navbar p{
        font-size: 30px;
        position: relative;
        left: 320px;
        padding-bottom: 10px;
    }
    #navbar{
        background-color: #1D1D1D;
        width: 105%;
        color:#999696;
        display: none;
        position: fixed;
        z-index: 10;
    }
    .dropdown{
        display: none;
    }
    .dropdown:checked ~ #navbar{
        display: block;
    }
    a.section1,
    a.section2,
    a.section3,
    a.section4,
    a.section5,
    a.section6,
    a.section7,
    a.section8{
        display: flex;
        justify-content: center;
        font-size: 30px;
        position: relative;
        text-decoration: none;
        color:#999696;
    }
    h1,
    h2{
        display: flex;
        justify-content: center;
        font-size: 40px;
    }
    #para1,
    #para2,
    #para3,
    #para4,
    #para5,
    #para6,
    #para7,
    #para8{
        font-size: 30px;
    }
    .blog-container{
        background-color: #999696;
        width: 100%;
        position: relative;
        left: 23px;
        font-family: Forum;
        border-radius: 5px;
    }
    .blog-pic{
        width: 400px;
        height: 200px;
        position: relative;
        left: 165px;
    }
    .comments-likes{
        width: 100%;
        background-color: #1D1D1D;
        position: relative;
        left: 15px;
        top: 20px;
        padding: 10px 0px 10px 0px;
    }
    a.back{
        color: white;
        text-decoration: none;
        position: relative;
        left: 10px;
        font-size: 30px;
        font-family: Forum;
    }
    a.back:hover{
        color: #21EFEF;
    }
    .blog-container h3,
    .blog-container p{
        padding: 10px 20px 0px 20px;
    }
    .blog-container h3{
       display: flex;
       justify-content: center;
    }
    .like{
        width: 40px;
        height: 40px;
        position: relative;
        left: 140px;
    }
    #name{
        width: 20%;
        height: 30px;
        padding-left: 5px;
        font-family: Forum;
        font-size: 18px;
        position: relative;
        left: 330px;
        bottom: 55px;
        border: 0px;
        border-radius: 10px;
    
    }
    #comment{
        width: 25%;
        border: 0px;
        font-size: 20px;
        padding: 5px 0px 5px 10px;
        height: 40px;
        font-family: Forum;
        position: relative;
        bottom: 46px;
        left: 330px;
        border-radius: 7px;
    }
    #commentbtn{
        width: 5%;
        font-family: Forum;
        font-size: 18px;
        position: relative;
        bottom: 51px;
        left: 330px;
        border: 0px;
        border-radius: 5px;
    }
    .comments-list{
        background-color: #999696;
        width: 100%;
        height: auto;
        position: relative;
        bottom: 20px;
        border-radius: 10px;
        border: 0px;
    }
    .comments-likes p{
        color: white;
        position: relative;
        bottom: 30px;
        left: 10px;
        font-family: Forum;
        font-size: 30px;   
    }
    .comments-list p{
        color: black;
        position: relative;
        top: 2px;
    }
    .comment{
        padding:0px 0px 10px 0px;
    }
    .comments-form{
        position: relative;
        left: 30px;
    }
}
@media only screen and (min-width: 1281px) and (max-width: 1439px){
    .logo{
        width:100px;
    }
    #home{
        background-color: black;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        width: 13%;
        position: fixed;
        height: 750px;
        background-color: #181818;
        color: #999696;
    }
    #navbar p{
        font-size: 15px;
        padding: 10px 0px 20px 20px;
    }
    #navbar a{
        text-decoration: none;
        color: #999696;
        padding-left: 20px;
    }
    .dropdown{
        display: none;
    }
    .dropdown-nav{
        display: none;
    }
    a.section1{
        padding: 20px 20px 10px 10px;
        position: relative;
        left: 15px;
    }
    a.section2,
    a.section3,
    a.section4,
    a.section5,
    a.section6,
    a.section7,
    a.section8{
        padding-bottom: 10px;
        position: relative;
        left: 15px;
    }
    h1,
    h2{
        display: flex;
        justify-content: center;
    }
    #para1,
    #para2,
    #para3,
    #para4,
    #para5,
    #para6,
    #para7,
    #para8{
        padding: 0px 20px 20px 20px;
    }
    .blog-container{
        background-color: #999696;
        width: 88%;
        position: relative;
        left: 155px;
        top: 30px;
        font-family: Forum;
    }
    .blog-pic{
        width: 400px;
        height: 200px;
        position: relative;
        left: 250px;
    }
    .comments-likes{
        width: 89%;
        background-color: #1D1D1D;
        position: relative;
        left: 150px;
        top: 50px;
        padding: 10px 0px 10px 0px;
    }
    a.back{
        color: white;
        text-decoration: none;
        position: relative;
        left: 10px;
        bottom: 30px;
        font-size: 20px;
        font-family: Forum;
    }
    a.back:hover{
        color: #21EFEF;
    }
    .blog-container h3,
    .blog-container p{
        padding: 10px 20px 0px 20px;
    }
    .blog-container h3{
       display: flex;
       justify-content: center;
    }
    .like{
        width: 30px;
        height: 30px;
        position: relative;
        left: 300px;
    }
    #name{
        width: 20%;
        height: 30px;
        padding-left: 5px;
        font-family: Forum;
        font-size: 18px;
        position: relative;
        left: 445px;
        bottom: 55px;
        border: 0px;
        border-radius: 10px;
    
    }
    #comment{
        width: 25%;
        border: 0px;
        font-size: 20px;
        padding: 5px 0px 5px 10px;
        height: 40px;
        font-family: Forum;
        position: relative;
        bottom: 46px;
        left: 445px;
        border-radius: 7px;
    }
    #commentbtn{
        width: 5%;
        font-family: Forum;
        font-size: 18px;
        position: relative;
        bottom: 51px;
        left: 445px;
        border: 0px;
        border-radius: 5px;
    }
    .comments-list{
        background-color: #999696;
        width: 98.9%;
        height: auto;
        position: relative;
        left: 10px;
        bottom: 20px;
        border-radius: 10px;
        border: 0px;
    }
    .comments-likes p{
        color: white;
        position: relative;
        bottom: 30px;
        left: 10px;
        font-family: Forum;
        font-size: 20px;   
    }
    .comments-list p{
        color: black;
        position: relative;
        top: 2px;
    }
    .comment{
        padding:0px 0px 10px 0px;
    }
}
@media only screen and (min-width: 1440px){
    .logo{
        width:100px;
    }
    #home{
        background-color: black;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        width: 10%;
        position: fixed;
        height: 1000px;
        background-color: #181818;
        color: #999696;
    }
    #navbar p{
        font-size: 15px;
        padding: 10px 0px 20px 20px;
    }
    #navbar a{
        text-decoration: none;
        color: #999696;
        padding-left: 20px;
    }
    .dropdown{
        display: none;
    }
    .dropdown-nav{
        display: none;
    }
    a.section1{
        padding: 20px 20px 10px 10px;
        position: relative;
        left: 15px;
    }
    a.section2,
    a.section3,
    a.section4,
    a.section5,
    a.section6,
    a.section7,
    a.section8{
        padding-bottom: 10px;
        position: relative;
        left: 15px;
    }
    h1,
    h2{
        display: flex;
        justify-content: center;
    }
    #para1,
    #para2,
    #para3,
    #para4,
    #para5,
    #para6,
    #para7,
    #para8{
        padding: 0px 20px 20px 20px;
        font-size: 25px;
    }
    .blog-container{
        background-color: #999696;
        width: 88%;
        position: relative;
        left: 160px;
        top: 30px;
        font-family: Forum;
    }
    .blog-pic{
        width: 400px;
        height: 200px;
        position: relative;
        left: 430px;
    }
    .comments-likes{
        width: 89%;
        background-color: #1D1D1D;
        position: relative;
        left: 150px;
        top: 50px;
        padding: 10px 0px 10px 0px;
    }
    a.back{
        color: white;
        text-decoration: none;
        position: relative;
        left: 10px;
        bottom: 30px;
        font-size: 20px;
        font-family: Forum;
    }
    a.back:hover{
        color: #21EFEF;
    }
    .blog-container h3,
    .blog-container p{
        padding: 10px 20px 0px 20px;
    }
    .blog-container h3{
       display: flex;
       justify-content: center;
    }
    .like{
        width: 30px;
        height: 30px;
        position: relative;
        left: 480px;
    }
    #name{
        width: 20%;
        height: 30px;
        padding-left: 5px;
        font-family: Forum;
        font-size: 18px;
        position: relative;
        left: 629px;
        bottom: 55px;
        border: 0px;
        border-radius: 10px;
    
    }
    #comment{
        width: 25%;
        border: 0px;
        font-size: 20px;
        padding: 5px 0px 5px 10px;
        height: 40px;
        font-family: Forum;
        position: relative;
        bottom: 46px;
        left: 629px;
        border-radius: 7px;
    }
    #commentbtn{
        width: 5%;
        font-family: Forum;
        font-size: 18px;
        position: relative;
        bottom: 51px;
        left: 629px;
        border: 0px;
        border-radius: 5px;
    }
    .comments-list{
        background-color: #999696;
        width: 98.9%;
        height: auto;
        position: relative;
        left: 10px;
        bottom: 20px;
        border-radius: 10px;
        border: 0px;
    }
    .comments-likes p{
        color: white;
        position: relative;
        bottom: 30px;
        left: 10px;
        font-family: Forum;
        font-size: 20px;   
    }
    .comments-list p{
        color: black;
        position: relative;
        top: 2px;
    }
    .comment{
        padding:0px 0px 10px 0px;
    }
}
