*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #1D1D1D;
    color: black;  
    font-family: 'Roboto'; 
    overflow-x: hidden;
}

@media only screen and (max-width: 425px){
  #navbar{
    display: none;
  } 
  body{
    background-color: #999696;
    overflow-x: hidden;
    font-family: 'Forum'; 
  }
  h1,
  h2{
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 40px;
  }
  .blog-pic{
    width: 75%;
   position: relative;
   left: 75px;
  }
  h3{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 35px;
  }
  p{
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    display: flex;
    justify-content: center;
  }
    a{
        text-decoration: none;
        color: black;
        position: relative;
        left: 50px;
    }
    a.back:hover{
        color: #21EFEF;
    }
    #postbtn{
        width: 25%;
        font-family: Forum;
        font-size: 25px;
        position: relative;
        left: 150px;
        border: 0px;
        border-radius: 5px;
    }
    .back{
        color: black;
        text-decoration: none;
        position: relative;
        left: 50px;
        font-size: 25px;
    }
    .back:hover{
        color:#21EFEF;
    }
}
@media only screen and (min-width: 426px) and (max-width: 768px){
    body{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #navbar{
        display: none;
    }
    h1,
    h2{
        display: flex;
        justify-content: center;
        font-size: 50px;
    }
    p{
        font-size: 40px;
        padding: 0px 20px 20px 20px;
    }
    .blog-container{
        background-color: #999696;
        width: 100vw;
        position: relative;
        font-family: Forum;
    }
    .blog-pic{
        width: 90%;
        position: relative;
        left: 40px;
    }
    .blog-container h3,
    .blog-container p{
        padding: 10px 20px 0px 20px;
    }
    .blog-container h3{
       display: flex;
       justify-content: center;
       font-size: 45px;
    }
    #postbtn{
        width: 25%;
        font-family: Forum;
        font-size: 45px;
        position: relative;
        left: 290px;
        border-radius: 10px;
        border: 0px;
    }
    .back{
        color: black;
        text-decoration: none;
        position: relative;
        font-size: 45px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .back:hover{
        color:#21EFEF;
    } 
}
@media only screen and (min-width: 769px) and (max-width: 1280px){
    body{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #navbar{
        display: none;
    }
    h1,
    h2{
        display: flex;
        justify-content: center;
        font-size: 50px;
    }
    p{
        padding: 0px 20px 20px 20px;
        font-size: 40px;
    }
    .blog-container{
        background-color: #999696;
        width: 100vw;
        position: relative;
        font-family: Forum;
    }
    .blog-pic{
        width: 90%;
        position: relative;
        left: 40px;
    }
    .blog-container h3,
    .blog-container p{
        padding: 10px 20px 0px 20px;
    }
    .blog-container h3{
       display: flex;
       justify-content: center;
       font-size: 45px;
    }
    #postbtn{
        width: 25%;
        font-family: Forum;
        font-size: 45px;
        position: relative;
        left: 300px;
        border-radius: 10px;
        border: 0px;
    }
    .back{
        color: black;
        text-decoration: none;
        position: relative;
        font-size: 45px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .back:hover{
        color:#21EFEF;
    }
}
@media only screen and (min-width: 1440px){
    .logo{
        width:100px;
    }
    #home{
        background-color: black;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        width: 10%;
        position: fixed;
        height: 1000px;
        background-color: #181818;
        color: #999696;
    }
    #navbar p{
        font-size: 20px;
        position: relative;
        left: 10px;
    }
    #navbar a{
        text-decoration: none;
        color: #999696;
        padding-left: 20px;
    }
    h1,
    h2{
        display: flex;
        justify-content: center;
        font-size: 45px;
    }
    p{
        padding: 0px 20px 20px 20px;
        font-size: 30px;
    }
    .blog-container{
        background-color: #999696;
        width: 88%;
        position: relative;
        left: 160px;
        top: 30px;
        font-family: Forum;
    }
    .blog-pic{
        width: 400px;
        height: 200px;
        position: relative;
        left: 430px;
    }
    .blog-container h3,
    .blog-container p{
        padding: 10px 20px 0px 20px;
    }
    .blog-container h3{
       display: flex;
       justify-content: center;
       font-size: 40px;
    }
    #postbtn{
        width: 20%;
        font-family: Forum;
        font-size: 25px;
        position: relative;
        left: 500px;
        border: 0px;
        border-radius: 5px;
    }
    .back{
        color: black;
        text-decoration: none;
        position: relative;
        left: 40px;
        font-size: 35px;
    }
    .back:hover{
        color:#21EFEF;
    }
}